body{
    margin: 0px;
    
    
}
    h1 {
    color: #90ee90;
    font-size: 80px;
    font-weight: bold;
    display:inline-block;
    text-align: center
   
   
    
   
    
    
    


   
    
    
    
}
ul{
    color: aliceblue;
    padding: 0%;
    width: fit-content;
    margin: 0%;
    margin-left: 687px;
    
    
    

   
}
li a{
    color:hsl(0, 0%, 100%);
   
   
    font-weight: lighter;
    display:inline-block;
    align-content: center;
    
    text-decoration: none;
    
    

}
.recipe-card{
    background-color: rgb(120, 182, 199);
    padding: 200px;
    display:  block;
    padding-bottom: 400px;
    text-align: center;
}

